.main-div {
    display: flex;
    justify-content: center;
}
.fiche {
    background-color: rgb(255, 252, 248);

    max-width: 85%;
    min-width: 80%;
  }

.default-user {
    background-size: cover;
}
.subcard-samedi {
    background-color: rgb(243, 243, 243);
}
.subcard-dimanche {
    background-color: rgba(243, 243, 243);
}