

  <mat-card>
     <mat-card-title>Login</mat-card-title>
    <mat-card-content>

      <form [formGroup]="loginForm" (submit)="login()">
        <p>
          <mat-form-field class="form-group">
          <input type="text" matInput formControlName="email" class="form-control"  
            [ngClass]="{
            'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched),
            'is-valid': f.email.valid && (f.email.dirty || f.email.touched)
           }"
          placeholder="Email" required>
          <div class="invalid-feedback" 
           *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
             <p *ngIf="f.email.errors.required">Email is required</p>
           </div>
          </mat-form-field>
        </p>
        <p>
        <mat-form-field  class="form-group">
          <input id="mysecretpassword" type="password" matInput showHideInput formControlName="password" class="form-control" 
            [ngClass]="{
            'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched),
            'is-valid': f.password.valid && (f.password.dirty || f.password.touched)
           }"
          placeholder="Password" required>
          <i matSuffix
            class="material-icons"
            showHideTrigger="mysecretpassword"
            [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
          ></i>
          <div class="invalid-feedback" 
           *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
             <p *ngIf="f.password.errors.required">Password is required</p>
           </div>

        </mat-form-field>
        </p>
        <div>
          <button id ="bt" type="submit" class="btn btn-primary">Sign in</button>
          <button id="register" class="btn btn-primary"><a routerLink="../register">Sign up</a></button>
        </div>
        <div><a id="reset" routerLink="/resetpw">Forget your password</a></div>
      </form>
     </mat-card-content> 
  </mat-card>
  