
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 4em;
    color: #000000;
}

p {
    margin-top: auto;
    line-height: 160%;
    margin-bottom: auto;
    line-height: 160%;
}  

body {
    width: 100%;
    height: 1000px;
    background-color: #d8d9da;
}

.carteid{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #00f;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
  
}

.calendar{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #ff0f00;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
}

.photo{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #fff00f;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
}

.video{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #ff8f0f;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
}

.lien{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #47ff0f;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
}

.fiche{
    margin-top: 0px;
    margin-left: auto;
    border-width: 10px;
    border-style: inset;
    border-color: #9c56c5;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100%;
}