
<body>
    <div class="container">
      <h1>Menu</h1>
      <mat-grid-list cols="3" rowHeight="2:2">


<mat-grid-tile *ngFor= "let icone of tabIcones">
    <mat-card class={{icone.classe}}>
        <mat-card-title>{{icone.nomIcone}}</mat-card-title>
        <mat-card-content>
          <a routerLink={{icone.dirigeVers}} class="image full"><img src={{icone.lienImage}} alt="" height="130" width="130"></a>
        </mat-card-content>
      </mat-card>
</mat-grid-tile>


</mat-grid-list>
</div>
</body>