.main-div {
    display: flex;
    justify-content: center;
}
.card-id {
    background-color: rgb(255, 246, 234);

    max-width: 1200px;
    min-width: 1200px;
  }

.default-user {
    background-image: url("default.jpg");
    background-size: cover;
}
.sub-card-id {
    background-color: rgb(236, 234, 234);
}
.sub-card-id2 {
    background-color: rgba(236, 234, 234);
}