
<mat-card class="card-id" >
  <div layout-align="center center">
  <mat-card-header>
    <div mat-card-avatar class="default"></div>
    <mat-card-title> {{donnees.nom}} </mat-card-title>
    <mat-card-subtitle> {{donnees.prenom}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      email: {{donnees.email}}
    </p>
    <p>
        address : {{donnees.cardID.address}}
      </p>
      <p>
          phone number : {{donnees.cardID.personnal.phone}}
        </p>
    <p>
      <mat-card class="sub-card-id">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title> Contact n°1 </mat-card-title>
          </mat-card-header>
          <p>
              name : {{donnees.cardID.contact1.name}}
          </p>
          <p>
             Phone Number : {{donnees.cardID.contact1.phone}}
          </p>
          <p>
             Email Address : {{donnees.cardID.contact1.email}}
          </p>
        </mat-card-content>
      </mat-card>
    </p>
    <p>
        <mat-card class="sub-card-id2">
          <mat-card-content>
            <mat-card-header>
              <mat-card-title> Contact n°2 </mat-card-title>
            </mat-card-header>
            <p>
                name : {{donnees.cardID.contact2.name}}
            </p>
            <p>
               Phone Number : {{donnees.cardID.contact2.phone}}
            </p>
            <p>
               Email Address : {{donnees.cardID.contact2.email}}
            </p>
          </mat-card-content>
        </mat-card>
      </p>
      <p>
         Medical Data :  {{donnees.cardID.medical_Data}}
      </p>
      <p>
          Does he talk ? :  {{donnees.cardID.talk_Ability}}
       </p>
       <p>
          Does he hear ? :  {{donnees.cardID.understand_Ability}}
       </p>
       <p>
          Known Languages :  {{donnees.cardID.known_Languages}}
       </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="editCardID()">Edit </button>
  </mat-card-actions>
</div>
</mat-card>
