.card-id {
    max-width: 400px;
    background-color: rgb(255, 246, 234);
  }
.default-user {
    background-image: url("default.jpg");
    background-size: cover;
}
.sub-card-id {
    background-color: rgb(236, 234, 234);
}
.sub-card-id2 {
    background-color: rgba(236, 234, 234);
}