*{
  margin: 0;
  padding:0;
}


.mat-form-field {
        width: 100%;
        min-width: 450px;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
} 
mat-card-title,
mat-card-content {
        display: flex;
        justify-content: center;
     }
i {
    display: inline-flex;
    vertical-align: middle;
    overflow: auto;
  }
/*.button {
    display: flex;
    justify-content: flex-end;
}*/
#bt {
  margin-left: 200px;
}
#register{
  margin-left: 10px;
  background-color: white;
}
#reset{
  text-align: right;
  margin-top: 5px;
}
mat-card {
  padding-top: 10px;
  /*margin-left:  800px;*/
  padding-left: 10px;
  border-width: 10px;
  
  border-style: outset;
  border-color: gray;
  
}
.contain{
 background-color: #C6F1E7;
 min-height: 900px;
}

.wrapper{
  padding:80px;
  flex: 1;
  top:0;
}