<mat-toolbar color="accent" class="topBar">
  <button mat-button (click)="return()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span class="space"></span>
  <button mat-button (click)="create_folderPicto(id)">
    <mat-icon>create_new_folder</mat-icon>
  </button>
  <button mat-button (click)="create_simplePicto(id)">
  <mat-icon>insert_drive_file</mat-icon>
  </button>
</mat-toolbar>
<p></p>
<body>
  <mat-grid-list cols=4>
    <mat-grid-tile *ngFor="let picto of tabPicto" >
      <mat-card style="justify-content: center;background-color: blanchedalmond;max-height:400px;height: auto;max-width: 300px;overflow: hidden">
        <mat-card-title style="justify-content: center;font-size: 3vw">{{picto.meaning}}</mat-card-title>
        <mat-card-content style="justify-content: center;">
          <div *ngIf="picto.folder==1">
            <a (click)="fetchPictos(picto)"><img mat-card-image style="max-height:60%;height: auto;width: 100%;" src={{picto.path}} ></a>
          </div>
          <div *ngIf="picto.folder==0">
            <a (click)="addMeaningAndSpeak(picto.meaning,picto.speech)"><img src={{picto.path}} style="max-height:60%;height: auto;max-width: 80%;width: auto;"></a>
          </div>
          <button mat-button (click)="removePicto(picto._id)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>


<mat-toolbar color="accent" class="bottomBar" style="
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
    width:100%;">
  <mat-card style="height: 80%">
  <mat-card-content style="font-size: 5vw">
    {{pictoText}} {{additionnalText}}
  </mat-card-content>
  </mat-card>
  <span class="space"></span>
  <button mat-button (click)="speak()">
    <mat-icon>volume_up</mat-icon>
  </button>

</mat-toolbar>