body{
    background-color: #d8d9da;
}

div {
    text-indent: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

h1{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: brown;
    border:2px outset brown;
}

h2, h3, h3, ul{
    margin-left: 50px;
    margin-right: 50px;
}

h5{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline; 
}

img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px outset black;
}