<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Editer votre CardID</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Addresse" formControlName="address" #description>
      </mat-form-field>
      
      
      <mat-form-field>
        <input matInput placeholder="Téléphone" formControlName="pphone">  
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°1: Nom" formControlName="c1name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°1: Téléphone" formControlName="c1phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°1: Email" formControlName="c1email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°2: Nom" formControlName="c2name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°2: Téléphone" formControlName="c2phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contact n°2: Email" formControlName="c2email">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Données Médicales" formControlName="medical_Data"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select matInput placeholder="Talk ability" formControlName="talk_Ability">
          <mat-option value="True">True</mat-option>
          <mat-option value="False">False</mat-option>
        </mat-select>
      </mat-form-field> 

      <mat-form-field>
          <mat-select matInput placeholder="Understand ability" formControlName="understand_Ability">
            <mat-option value="True">True</mat-option>
            <mat-option value="False">False</mat-option>
          </mat-select>
      </mat-form-field> 

      <mat-form-field>
          <input matInput placeholder="Languages" formControlName="known_Languages">
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/cardID/list">Retour</button>&nbsp;
      <button type="submit" (click)="updateCardID(address.value, pphone.value, c1name.value, c1phone.value, c1email.value, c2name.value, c2phone.value, c2email.value, medical_Data.value, talk_Ability.value, understand_Ability.value, known_Languages.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Et zé partiii</button>
    </form>
  </mat-card>
</div>
