

<div class="wrapper">
<div class="contain">
<div class="clearfix">
<div  fxFill fxLayout="column" fxLayoutAlign="space-between"  >
  <div fxLayout="row wrap" class="card-deck-container">
    <ng-container *ngFor="let image of images" class="card-item">
       <mat-card  [ngStyle]="{'max-width':'300' + 'px'}" [ngClass]="{
            'chosen': !image.state,
            'normal': image.state
           }"><img md-card-image [src]="image.path" (click)="ChoisiImage($event,image)"></mat-card>
    </ng-container>
  </div>
</div>

<div class="card-info">
	    <mat-form-field>
	    	<input type="text" matInput value="{{message}}" readonly="readonly" placeholder="this is your message">
	    </mat-form-field>
	    <button  class="btn btn-primary butt" (click)="email()">Send</button>
      <button  class="btn btn-primary butt" (click)="upload()">Edit</button>
	    <div class="content">
	    	<p >Chose one of these <span style="color: blue;font-size: 20px">pictures</span> to describe your situation. It will show your message in <span style="color: pink;font-size: 20px">text box</span>
	    	Then, push the button <span style="color: orange;font-size: 20px">Send</span> to send it to 
	    	<span style="color: green;font-size: 20px">yours parents</span></p>
	    </div>
      <div>
      <a [routerLink]="cardIdEdit" >Edit yours contacts</a>
      </div>
</div>
</div>
</div>
</div>